@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sixtyfour Convergence", sans-serif;
}