/* Sixtyfour */
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
/* pixelify */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    /* font-family: "Sixtyfour Convergence", sans-serif; */
}

body {
    background: linear-gradient(210deg, #00283d, #000508);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    margin: 50px;
    width: 20%;
}

.msg {
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    border-right: 16px solid #395cbd;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: mark .8s step-end infinite, write 8s steps(22, end) infinite;
}

@keyframes mark {
    50%{
        border-right-color: transparent;
    }
}

@keyframes write {
    20% {
        width: 31ch;
    }
    70% {
        width: 31ch;
    }
    85% {
        width: 0;
    }
    100% {
        width: 0;
    }
}